<p>
  customers works!
</p>
<app-menu></app-menu>
<h2>My Customers</h2>
<ul class="customeres">
  <li *ngFor="let customer of customers"
    [class.selected]="customer === selectedCustomer"
    (click)="onSelect(customer)">
    <span class="badge">{{customer.id}}</span> {{customer.name}}<span> {{customer.email}} </span>
    <button type="button" class="close" aria-label="Close"  (click)=cancelButton() > <span aria-hidden="true" >&times;</span>
    </button>
  </li>
</ul>


  <div>
      <input type="text" name="customerName" placeholder="CustomerName" [(ngModel)]="customer.name"> <br><br>
      
      <input type="text" name="emailid" placeholder="EmailId" [(ngModel)]="customer.email"> <br><br>
  <button (click)="addCustomer()" type="" >Add Customer</button>

</div>
<div>
    <input type="text" name="customerName" placeholder="remove Customer" [(ngModel)]="num"> <br><br>
  <button (click)="removeCustomer(num)" type="" >Remove Customer</button>
 
</div>

<!-- <div *ngFor="let customer of customers">
<li>
  {{customer.name}}
   {{customer.id}}
    {{customer.email}}
</li>
</div> -->



<div *ngIf="selectedcustomer">

  <h2>{{selectedcustomer.name | uppercase}} Details</h2>
  <div><span>id: </span>{{selectedcustomer.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="selectedcustomer.name" placeholder="name">
      <input [(ngModel)]="selectedcustomer.email" placeholder="email">
    </label>
  </div>

</div>